* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#homepage {
    background-color: black;
}

.item {
    background-color: lightblue;
    padding: 20px;
}

.chat-wrapper {
    background-color: lightgreen;
}

.chatWrapper-textfield {
    width: 100%;
}

.quizItem-input {
    width: 100%;
}