* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
}

.item {
    background-color: lightblue;
    padding: 20px;
}

.chat-wrapper {
    background-color: lightgreen;
}

.chatWrapper-textfield {
    width: 100%;
}

.quizItem-input {
    width: 100%;
}

.button {
    border-radius: 5px;
    padding: 15px !important;
}

.button-reset {
    background-color: #F75A5A !important;
    color: #FFF !important;
}

.button-save {
    background-color: #FFF085 !important;
    color: #000 !important;
    margin-left: 20px !important;
}

.input-radio {
    padding: 50px !important;
    border-radius: 5px !important;
    width: 100% !important;
}

.input-text-wrapper {
    padding: 20px !important;
    border-radius: 5px !important;
    margin: 20px 0 20px 0 !important;
    width: 100% !important;
}

.quizItem {
    padding-left: 0 !important;
}

.topic-item:hover {
    cursor: pointer;
}